.OrderInfo {
    padding: 2rem 1rem;
    max-width: 28rem;
    display: block;
    margin: auto;
    overflow: hidden;
}

.orderInfo > .orderFoods {
    max-height: 33vh;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 13px;
    box-sizing: content-box;
}

.orderInfo > p {
    font-size: 0.9rem;
    opacity: 0.4;
    font-weight: 530;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}
.orderInfo > samp {
    font-weight: 650;
}
.active {
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
/* @include mq(800px) {
    p {
        font-size: 1rem;
        margin-bottom: 0.7rem;
    } */
