.skeleton {
    border-radius: 4px;
    margin: 10px 0;
    background-color: #ddd;
}
.skeleton.text {
    height: 14px;
    width: 100%;
}
.skeleton.title {
    height: 20px;
    width: 80%;
    margin-bottom: 5px;
}
.skeleton.skeletonBtn {
    height: 30px;
    width: 80px;
    border-radius: 40px;
    margin-bottom: 5px;
}
.skeleton.round-img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.skeleton.round-big-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.skeleton.square-img {
    height: 100px;
    width: 100px;
}

.skeleton-wrapper {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

/* theme */
.skeleton-wrapper.light {
    background-color: #f2f2f2;
}
.skeleton-wrapper.dark {
    background-color: #444;
}
.skeleton-wrapper.dark .skeleton {
    color: #777;
}
/* animation */
.shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: loading 2s infinite;
}
.shimmer {
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
    transform: skewX(-20deg);
}
.dark .shimmer {
    background-color: rgba(255, 255, 255, 0.05);
}

@keyframes loading {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(150%);
    }
}
