.OrderedFood {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.4rem 0.8rem;
    border-radius: 15px;
    background-color: rgb(238, 237, 237);
    margin: 1rem 0;
    justify-content: center;
}
.OrderedFood > div {
    flex: 1;
}
.OrderedFood > div > img {
    width: 4rem;
    border-radius: 50%;
}
.OrderedFood > div > p {
    opacity: 2;
    font-size: 0.9rem;
    font-weight: 600;
}
.OrderedFood > div > h5 {
    font-weight: 700;
    font-size: 1.2rem;
    /* color: $mainColor; */
}
.small-img {
    width: 5rem;
    margin-right: 1rem;
}
